p {
    font-size 17px
}

li {
    font-size 17px
}

img{
    margin-bottom: 1vw;
}

.depth-1 .sidebar-heading{
    margin-left: 1vw;
    font-size:  0.875rem !important;
    color: black !important;
    opacity: 0.8 !important;
}

.depth-1 .sidebar-link{

    font-size:  0.815rem !important;
    color: black !important;
    opacity: 0.8 !important;
}

